# list 
* iteration operation with loop
* apply any operation on element

In [2]:
names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Noman']
print(names)

['Sir Zia', 'Muhammad Qasim', 'Dr. Noman']

In [5]:
# new iteration easy method / process

names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Noman']

for name in names:
   # print('Dr. Noman')
    print(name)

Sir Zia
Muhammad Qasim
Dr. Noman

In [6]:
# old method for iteration which very lengthy
names : list[str] = ['Sir Zia', 'Muhammad Qasim', 'Dr. Noman']
i :int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Sir Zia
Muhammad Qasim
Dr. Noman

```
for loop method in javascript, just for understanding that even java has lengthy option, but python has made it easier

names = name =  ['Sir Zia', 'Muhammad Qasim', 'Dr. Noman']

    for (i=0; i<length(names); i++{
    names[i]}
    

```

In [11]:
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')
    print("PIAIC Gen AI Team\n")
    
print("Pakistan Zindabad")

Welcome Dear Teacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Teacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Teacher Dr. Noman
PIAIC Gen AI Team

Pakistan Zindabad

In [13]:
data_base : list[tuple[str,str]] = [("qasim", '1234'), ("Sir Zia", '345'), ("ikhlas",'786')]
    
for row in data_base:
        print(row)

('qasim', '1234')
('Sir Zia', '345')
('ikhlas', '786')

In [14]:
data_base : list[tuple[str,str]] = [("qasim", '1234'), ("Sir Zia", '345'), ("ikhlas",'786')]
    
for row in data_base:
    user, password = row
    print(user, password )

qasim 1234
Sir Zia 345
ikhlas 786

In [15]:
#input_user :str = input("Enter user name")

Enter user nameRaghunathji

In [3]:
data_base : list[tuple[str,str]] =  [("qasim", '1234'),
                                     ("Sir Zia", '345'),
                                     ("ikhlas",'786')
                                    ]
    
input_user : str = input("Enter user name")     
input_password : str = input("Enter user password")     
    
for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break
else: 
    print("Not found or Invalid user name")
        #    print(input_user, input_password )

Not found or Invalid user name

In [4]:
magicians: list[str] = ['alice', 'david', 'carolin' ]
for magician in magicians:
    print(f"{magician.title()}, what was a great tricks!")
        
print(f"I can't wait to see your next tricks, {magician.title()}.\n " )

Alice, what was a great tricks!
David, what was a great tricks!
Carolin, what was a great tricks!
I can't wait to see your next tricks, Carolin.

In [5]:
print("raghunathji")

raghunathji

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [12]:
# enumerate = > this method will give index number with all the elements
magicians: list[str] = ['alice', 'david', 'carolin' ]
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolin')]

In [14]:
magicians: list[str] = ['alice', 'david', 'carolin' ]

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolin

In [17]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [18]:
for n in range(1,11):
    print(f"{2} x {n} = {n*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [19]:
squares:list[int] = []
for value in range(1,11):
    square = value **2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list comprehensive

for item in items_list:
    loop_body

# Comprehensive style

    [loop_body for item in items_list]

In [20]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [22]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
print('line1')
print('line2')
print('line3')

line1
line2
line3

In [24]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
digits:list[int] = [1,2,3,4,5,6,7,8,9,10]
print(digits)
print(max(digits)) 
print(min(digits)) 
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
1
55

In [31]:
my_foods = ['pizza', 'falafe', 'caroot cake']
friend_foods = my_foods[:]

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafe', 'caroot cake']
['pizza', 'falafe', 'caroot cake']
['pizza', 'falafe', 'caroot cake']
['Tikka', 'falafe', 'caroot cake']

# tuples

In [32]:
names:tuple[str] = ('A','B','C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [33]:
names:tuple[str] = ('A','B','C')
names[0] = "Pakistan" # value is not assignable in tuple

TypeError: 'tuple' object does not support item assignment

In [34]:
names:tuple[str] = ('A','B','C')

names:tuple[str] = ('pakistan','B','C') # reasign the value, you cannot update tuple
print(names)

('pakistan', 'B', 'C')

In [35]:
from typing import Any

data: tuple[Any] = ("A", [1,2,30], True)

print(data)

('A', [1, 2, 30], True)

In [36]:
data:tuple[Any] = ("A", [1,2,30], True)

data[0]
print(data)

('A', [1, 2, 30], True)

In [37]:
data:tuple[Any] = ("A", [1,2,30], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 30]
('A', [1, 2, 30, 20], True)