# python divides the operators into following groups

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [3]:
!conda install lxml -y
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\Anaconda\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libiconv-1.16              |       h2bbff1b_2         651 KB
    libxml2-2.10.4             |       h0ad7f3c_1         2.8 MB
    libxslt-1.1.37             |       h2bbff1b_1         447 KB
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         4.9 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0



Downloading and Extracting Packages

lxml-4.9.3           | 1.0 MB    |            |   0%

libxslt-1.1.37       | 447 KB    |            |   0%


libiconv-1.16        | 651 KB    |            |   0%



libxml2-2.10.4       | 2.8 MB    |            |   0%

libxslt-1.1.37       | 447 KB    | 3          |   4%


libiconv-1.16        | 651 KB    | 2          |   2%

libxslt-1.1.37       | 447 KB    | ###9       |  39%



libxml2-2.10.4       | 2.8 MB    |            |   1%


libiconv-1.16        | 651 KB    | #9         |  20%
lxml-4.9.3           | 1.0 MB    | 1          |   2%

libxslt-1.1.37       | 447 KB    | #######8   |  79%


libiconv-1.16        | 651 KB    | ###6       |  37%



libxml2-2.10.4       | 2.8 MB    | 4          |   4%
lxml-4.9.3           | 1.0 MB    | #2         |  12%


libiconv-1.16        | 651 KB    | ########1  |  81%



libxml2-2.10.4       | 2.8 MB    | 8          |   8%
lxml-4.9.3           | 1.0 MB    | #8         |  19%

libxslt-1.1.37       | 447 KB    | ########## | 100%


libiconv-1.16        | 651 KB    | ########## | 100%
lxml-4.9.3           | 1.0 MB    | ##4        |  25%



libxml2-2.10.4       | 2.8 MB    | #7         |  18%
lxml-4.9.3           | 1.0 MB    | ##9        |  30%
lxml-4.9.3           | 1.0 MB    | ####       |  40%



libxml2-2.10.4       | 2.8 MB    | ##9        |  29%
lxml-4.9.3           | 1.0 MB    | ####6      |  47%



libxml2-2.10.4       | 2.8 MB    | ####2      |  43%
lxml-4.9.3           | 1.0 MB    | #####9     |  59%
lxml-4.9.3           | 1.0 MB    | #######4   |  75%



libxml2-2.10.4       | 2.8 MB    | #######1   |  72%
lxml-4.9.3           | 1.0 MB    | #########  |  90%



libxml2-2.10.4       | 2.8 MB    | ########## | 100%



libxml2-2.10.4       | 2.8 MB    | ########## | 100%
lxml-4.9.3           | 1.0 MB    | ########## | 100%












Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
a : int = 11
b : int = 3

print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # division
print(a%3) # modulus
print(a**b) # modulus

14
8
33
3.6666666666666665
2
1331

In [8]:
print(12/3)

4.0

In [9]:
print(14/3)

4.666666666666667

In [10]:
print(14//3)

4

# Python Assignment Operators

In [12]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [13]:
# for value assign

a : int = 11
b : int = 3

In [14]:
# +=
a : int = 7
print(a)
a = a+2
print(a)

7
9

In [15]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9