In [1]:
# senior developers writing code style:
name: str = "Partab Raj"
father_name: str = "Laljee Chagan"
print(name)
print(father_name)

Partab Raj
Laljee Chagan

In [4]:
print("name")

name

In [5]:
print(name)

Partab Raj

# string data type in python

In [11]:
#bboundries
#'string data', "string data",'''string data''', """"string data""""
#'string data' type script

name: str = "Raghunathji"
print(type(name))
print(name)

<class 'str'>
Raghunathji

In [12]:
#bboundries
#'string data', "string data",'''string data''', """"string data""""
#'string data' type script

name: str = 'Raghunathji'
print(type(name))

print(name)

<class 'str'>
Raghunathji

In [13]:
#bboundries
#'string data', "string data",'''string data''', """"string data""""
#'string data' type script

name: str = '''Raghunathji'''
print(type(name))

print(name)

<class 'str'>
Raghunathji

In [18]:
message : str = "PIAIC STUDENT card \n father's Name"
print(message)

PIAIC STUDENT card
 father's Name

In [19]:
message : str = 'PIAIC "STUDENT CARD" \n father Name'
print(message)

PIAIC "STUDENT CARD"
 father Name

In [20]:
# CONVERT ANY SPECIAL CHARACTER INTO SIMPLE CHARACTER, PLACE \ BEFORE CHARACTER
message : str = 'PIAIC Student Card \n father\'s name'
print(message)

PIAIC Student Card
 father's name

In [23]:
#plus sign concatenated two strings into one
"a"+"b" + str(99)

'ab99'

In [28]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = "PIAIC Student Card\nStudent name:" +name + "\nAge:"+ str(Age)+ "\n" +\
"Education :" +education 
print(card)

PIAIC Student Card
Student name:Partab Raj
Age:38
Education :EMBA Finance

In [25]:
print(7+8+9)

24

In [26]:
print(7 + \
        +  \
            3)

10

## Define multiline string """ """, ''' '''

In [29]:
card : str = """
PIAIC Student Card
Student name:
Father's Name:
Age: ......
Education: ....

"""
print(card)

PIAIC Student Card
Student name:
Father's Name:
Age: ......
Education: ....

## fstring python

In [30]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = f"""
PIAIC Student Card
Student name: {name}
Father's Name: {fname}
Age: {Age} 
Education: {education}

"""
print(card)

PIAIC Student Card
Student name: Partab Raj
Father's Name: Laljee Chaggan
Age: 38
Education: EMBA Finance

In [33]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = f'''s
PIAIC Student Card
Student name: {name}
Father's Name: {fname}
Age: {Age} 
Education: {education}
total { 1+2+5+6}
'''
print(card)

s
PIAIC Student Card
Student name: Partab Raj
Father's Name: Laljee Chaggan
Age: 38
Education: EMBA Finance
totat 14

## f-string and jinja style

In [34]:
#fstring style
f"""
student name    : {name}
"""

'\nstudent name    : Partab Raj\n'

In [36]:
#jinja style
f"""
student name    : {{name}}
"""

'\nstudent name    : {name}\n'

In [37]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = f'''s
PIAIC Student Card
Student name: %s
Father's Name: %s
Age: %d
Education: %s

''' % (name, fname, Age, education)
print(card)

s
PIAIC Student Card
Student name: Partab Raj
Father's Name: Laljee Chaggan
Age: 38
Education: EMBA Finance

In [38]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
[i for i in dir(str) if "__" not in i ]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
name : str = "PArtaB Raj ParMAR"
print(name.capitalize())
print(name.lower())
print(name.upper())

Partab raj parmar
partab raj parmar
PARTAB RAJ PARMAR

In [45]:
a = 7 
b = 8
# { placeholder}     0                 1
"pakistan value a = {} and value b = {}".format(a, b)

'pakistan value a = 7 and value b = 8'

In [48]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = """
PIAIC Student Card
Student name    : {}
Father's Name   : {}
Age             : {}
Education       : {}

""".format(fname, name, Age, education)
print(card)

PIAIC Student Card
Student name    : Laljee Chaggan
Father's Name   : Partab Raj
Age             : 38
Education       : EMBA Finance

In [49]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = """
PIAIC Student Card
Student name    : {0}
Father's Name   : {1}
Age             : {3}
Education       : {2}

""".format(fname, name, education, Age)
print(card)

PIAIC Student Card
Student name    : Laljee Chaggan
Father's Name   : Partab Raj
Age             : 38
Education       : EMBA Finance

In [51]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = """
PIAIC Student Card
Student name    : {a}
Father's Name   : {b}
Age             : {d}
Education       : {c}

""".format(b=fname, a=name, c=education,d= Age)
print(card)

PIAIC Student Card
Student name    : Partab Raj
Father's Name   : Laljee Chaggan
Age             : 38
Education       : EMBA Finance

## recommended below two f-string methods

In [ ]:
name: str = "Partab Raj"
fname: str = "Laljee Chaggan"
education: str = "EMBA Finance"
Age: int = 38

card : str = f"""
PIAIC Student Card
Student name: {name}
Father's Name: {fname}
Age: {Age} 
Education: {education}

"""
print(card)

In [52]:
student_code : str = """
print("My name is Partab Raj")
a:int = 8
b:int = 10
print(a+b )"""
exec(student_code)

My name is Partab Raj
18

## explore string methods and attributes

pre-define global function we have used 

*print
*type
*id
*dir
*len

In [55]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [68]:
name : str = "           pArtaB raj parMAR         "
display(name.capitalize())
display(name.lower())
display(name.upper())
display(name.lstrip())
display(name.rsplit())
display(name.split())
display(name.title())

'           partab raj parmar         '

'           partab raj parmar         '

'           PARTAB RAJ PARMAR         '

'pArtaB raj parMAR         '

['pArtaB', 'raj', 'parMAR']

['pArtaB', 'raj', 'parMAR']

'           Partab Raj Parmar         '

In [66]:
import re
name : str = "       Partab         Raj           "
display(name)

name1      : str = re.sub(' {2,100}', ' ', name).strip()
print(name1)

'       Partab         Raj           '

Partab Raj

In [ ]:
#\n for new line 
# \t   for extra tab 
#\b for

In [70]:
print("Name:\n Partab Raj")
print("Name:\t Partab Raj")
print("Name:\n Partab Raj")

Name:
 Partab Raj
Name:	 Partab Raj
Name Partab Raj

In [73]:
nostarch_url:str = 'http://nostarch.com'
a = nostarch_url.removeprefix('http://')
b = nostarch_url.removesuffix('.com')
print(a)
'print(b)

nostarch.com
http://nostarch

In [74]:
1name = str = "partab"
print(1name)

SyntaxError: invalid decimal literal (3116605637.py, line 1)

In [75]:
names1 = str = "Partab Raj"
print(names1)

Partab Raj

In [76]:
_1name = str = "partab"
print(_1name)

partab