#   Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

In [3]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [2]:
# !pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/77/e5/1f23e56678244258483521872507d64130cac9466902aca3f3141b8fb06b/lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 325.1 kB/s eta 0:00:12
    --------------------------------------- 0.1/3.8 MB 465.5 kB/s eta 0:00:08
   -- ------------------------------------- 0.2/3.8 MB 1.2 MB/s eta 0:00:04
   ----- ---------------------------------- 0.5/3.8 MB 2.2 MB/s eta 0:00:02
   ------ --------------------------------- 0.6/3.8 MB 2.6 MB/s eta 0:00:02
   ------ --------------------------------- 0.6/3.8 MB 2.6 MB/s eta 0:00:02
   ------ --------------------------------- 0.7/3.8 MB 1.9 MB/s eta 0:00:02
   ------ --------------------------------- 0.7/3.8 MB 1.9 MB/s eta 0:00:02
   ------- -------------------------------- 0.7/3.8 MB 1.6 MB/s eta 0:00:02
   ------------- -------------------------- 1.2/3.8 MB 2.5 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 2.5 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 2.5 MB/s eta 0:00:02
   ---------------- ----------------------- 1.6/3.8 MB 2.5 MB/s eta 0:00:01
   ----------------- ---------------------- 1.7/3.8 MB 2.5 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 2.5 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 2.5 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 2.2 MB/s eta 0:00:01
   -------------------- ------------------- 2.0/3.8 MB 2.3 MB/s eta 0:00:01
   --------------------- ------------------ 2.0/3.8 MB 2.2 MB/s eta 0:00:01
   ---------------------- ----------------- 2.1/3.8 MB 2.2 MB/s eta 0:00:01
   ---------------------- ----------------- 2.1/3.8 MB 2.1 MB/s eta 0:00:01
   ----------------------- ---------------- 2.2/3.8 MB 2.1 MB/s eta 0:00:01
   ----------------------- ---------------- 2.2/3.8 MB 2.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 2.0 MB/s eta 0:00:01
   ------------------------- -------------- 2.4/3.8 MB 2.0 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 2.0 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 1.9 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 1.9 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 1.9 MB/s eta 0:00:01
   ---------------------------- ----------- 2.7/3.8 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.7/3.8 MB 1.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------- -------- 2.9/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 1.8 MB/s eta 0:00:01
   -------------------------------- ------- 3.0/3.8 MB 1.8 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.8 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 1.7 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.8 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

In [4]:
a : int = 11
b : int = 3
print(a%b)

2

In [5]:
print(2**2)
print(2**3)

4
8

In [6]:
print (13/12)

1.0833333333333333

In [7]:
# floor division -- it does not round it to nearest or maximum one, but to the lowest one 
print(13//12)

1

In [10]:
a:int = 7
print(a)

a = a+5
print(a)

a+=7
print(a)

7
12
19

In [11]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

python comparison operators

In [13]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [19]:
a :int = 7
b:int = 10
print(a==b)

a :int = 7
b:int = 7
print(a==b)

a :int = "7"
b:int = 7
print(a==b)

a :int = "7"
b:int = 7
print(a!=b)

False
True
False
True

In [21]:
a:int = 18
b:int =10
print(a>b)

True

In [22]:
a:int = 18
b:int =10
print(a<b)

False

In [24]:
a:str = "A"
b:str = "B"
print(b>a)
print(a>b)

True
False

In [29]:
# ascii Code
# Z = 90
# a = 97
# Z = 122
# 0=48
# 9=57

chr(65)
ord('A')

65

Logical Operator

In [30]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [31]:
# and = laazmi
# or = optional
#1          2       3       4   
True and True and True and True 
True and True and False and True

True