# python divides the operators into following groups

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [3]:
!conda install lxml -y
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\Anaconda\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libiconv-1.16              |       h2bbff1b_2         651 KB
    libxml2-2.10.4             |       h0ad7f3c_1         2.8 MB
    libxslt-1.1.37             |       h2bbff1b_1         447 KB
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         4.9 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0



Downloading and Extracting Packages

lxml-4.9.3           | 1.0 MB    |            |   0%

libxslt-1.1.37       | 447 KB    |            |   0%


libiconv-1.16        | 651 KB    |            |   0%



libxml2-2.10.4       | 2.8 MB    |            |   0%

libxslt-1.1.37       | 447 KB    | 3          |   4%


libiconv-1.16        | 651 KB    | 2          |   2%

libxslt-1.1.37       | 447 KB    | ###9       |  39%



libxml2-2.10.4       | 2.8 MB    |            |   1%


libiconv-1.16        | 651 KB    | #9         |  20%
lxml-4.9.3           | 1.0 MB    | 1          |   2%

libxslt-1.1.37       | 447 KB    | #######8   |  79%


libiconv-1.16        | 651 KB    | ###6       |  37%



libxml2-2.10.4       | 2.8 MB    | 4          |   4%
lxml-4.9.3           | 1.0 MB    | #2         |  12%


libiconv-1.16        | 651 KB    | ########1  |  81%



libxml2-2.10.4       | 2.8 MB    | 8          |   8%
lxml-4.9.3           | 1.0 MB    | #8         |  19%

libxslt-1.1.37       | 447 KB    | ########## | 100%


libiconv-1.16        | 651 KB    | ########## | 100%
lxml-4.9.3           | 1.0 MB    | ##4        |  25%



libxml2-2.10.4       | 2.8 MB    | #7         |  18%
lxml-4.9.3           | 1.0 MB    | ##9        |  30%
lxml-4.9.3           | 1.0 MB    | ####       |  40%



libxml2-2.10.4       | 2.8 MB    | ##9        |  29%
lxml-4.9.3           | 1.0 MB    | ####6      |  47%



libxml2-2.10.4       | 2.8 MB    | ####2      |  43%
lxml-4.9.3           | 1.0 MB    | #####9     |  59%
lxml-4.9.3           | 1.0 MB    | #######4   |  75%



libxml2-2.10.4       | 2.8 MB    | #######1   |  72%
lxml-4.9.3           | 1.0 MB    | #########  |  90%



libxml2-2.10.4       | 2.8 MB    | ########## | 100%



libxml2-2.10.4       | 2.8 MB    | ########## | 100%
lxml-4.9.3           | 1.0 MB    | ########## | 100%












Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
import pandas as pd

table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
a : int = 11
b : int = 3

print(a+b) # addition
print(a-b) # subtraction
print(a*b) # multiplication
print(a/b) # division
print(a%3) # modulus
print(a**b) # modulus

14
8
33
3.6666666666666665
2
1331

In [8]:
print(12/3)

4.0

In [9]:
print(14/3)

4.666666666666667

In [10]:
print(14//3)

4

# Python Assignment Operators

In [12]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [13]:
# for value assign

a : int = 11
b : int = 3

In [14]:
# +=
a : int = 7
print(a)
a = a+2
print(a)

7
9

In [15]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

# Python Comparison Operators

In [16]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a : int = 7
b : int = 10
print(a==b)

False

In [18]:
a : int = 7
b : int = 7
print(a==b)

True

In [19]:
a : int = 7
b : str = '7'
print(a==b)

False

In [20]:
a : int = 7
b : int = 7
print(a!=b)

False

In [21]:
a : int = 7
b : int = 8
print(a>b)

False

In [22]:
a : int = 7
b : int = 7
print(a>b)

False

In [23]:
a : int = 17
b : int = 8
print(a>b)

True

In [24]:
a : int = 17
b : int = 8
print(a<b)

False

In [25]:
a : int = 7
b : int = 7
print(a>=b)

True

In [26]:
a : int = 2
b : int = 7
print(a>=b)

False

In [27]:
a : str = 'A'
b : str = 'B'
print(a>=b)

False

In [ ]:
ascii Code
```A = 65
Z = 90
a = 97
z = 122
0=48
9=57````

In [28]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [29]:
# and === lazmi
# or ==== optional
True and True and True and True

True

In [30]:
# and === lazmi
# or ==== optional
True and True and False and True

False

In [31]:
# and === lazmi
# or ==== optional
True or True or False or True
True or True or True or True
False or False or False or True

True

In [32]:
name : str = "Partab"
print(not name=="Partab")

False

In [33]:
name : str = "Partab"
print(name !="Partab")

False

# Python Identity Operators

In [34]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [35]:
x : str = "abc"
Z : str = "abc"
print(id(x))
print(id(Z))

140730604458248
140730604458248

In [36]:
x : str = "abc"
Z : str = "abc"
print(id(x))
print(id(Z))

x is not Z

140730604458248
140730604458248

False

In [37]:
i : str = "abc"
j : str = "xyz"
print(id(i))
print(id(j))

i is j

140730604458248
2434781905904

False

# Python Membership Operators

In [38]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [42]:
# old methods
names: list[str] = [chr(i) for i in range(65,91)]
for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [43]:
# new methods
names: list[str] = [chr(i) for i in range(65,91)]
"D" in names

True

In [45]:
# new methods
names: list[str] = [chr(i) for i in range(65,91)]
display(names)
"pakistan" in names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

False

In [48]:
names: list[str] = ["Raghunathji", "Partab", "Sitaraam"]
uinput :str = input("Enter your name")
uinput in names

False

In [50]:
names: list[str] = ["Raghunathji", "Partab", "Sitaraam"]
uinput :str = input("Enter your name")
uinput not in names

True

In [52]:
<img src="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

SyntaxError: invalid syntax (3032518300.py, line 1)

# PEMDAS

In [53]:
print(3+2-2*4/2+2)

3.0

In [54]:
universe_age:int = 14_000_000_000
print(universe_age)

14000000000

In [55]:
data = ("qasim", 7, 3.0)
print(*data)

qasim 7 3.0

In [57]:
2*2
"2a"*3

'2a2a2a'

In [58]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!