In [5]:
import pandas as pd
import pandera as pa

https://pandera.readthedocs.io/en/stable/index.html

In [3]:
%pip install pandera

Collecting pandera
  Downloading pandera-0.18.0-py3-none-any.whl.metadata (15 kB)
Collecting multimethod (from pandera)
  Downloading multimethod-1.11.1-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy>=1.19.0 in d:\anaconda\envs\python12\lib\site-packages (from pandera) (1.26.3)
Requirement already satisfied: packaging>=20.0 in c:\users\parta\appdata\roaming\python\python312\site-packages (from pandera) (23.2)
Requirement already satisfied: pandas>=1.2.0 in d:\anaconda\envs\python12\lib\site-packages (from pandera) (2.2.0)
Requirement already satisfied: pydantic in d:\anaconda\envs\python12\lib\site-packages (from pandera) (2.5.3)
Collecting typeguard>=3.0.2 (from pandera)
  Downloading typeguard-4.1.5-py3-none-any.whl.metadata (3.7 kB)
Collecting typing-inspect>=0.6.0 (from pandera)
  Downloading typing_inspect-0.9.0-py3-none-any.whl.metadata (1.5 kB)
Collecting wrapt (from pandera)
  Downloading wrapt-1.16.0-cp312-cp312-win_amd64.whl.metadata (6.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\parta\appdata\roaming\python\python312\site-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2023.4)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\envs\python12\lib\site-packages (from pandas>=1.2.0->pandera) (2023.4)
Requirement already satisfied: mypy-extensions>=0.3.0 in d:\anaconda\envs\python12\lib\site-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in d:\anaconda\envs\python12\lib\site-packages (from typing-inspect>=0.6.0->pandera) (4.9.0)
Requirement already satisfied: annotated-types>=0.4.0 in d:\anaconda\envs\python12\lib\site-packages (from pydantic->pandera) (0.6.0)
Requirement already satisfied: pydantic-core==2.14.6 in d:\anaconda\envs\python12\lib\site-packages (from pydantic->pandera) (2.14.6)
Requirement already satisfied: six>=1.5 in c:\users\parta\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)
Downloading pandera-0.18.0-py3-none-any.whl (209 kB)
   ---------------------------------------- 0.0/209.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/209.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/209.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/209.0 kB ? eta -:--:--
   ------- -------------------------------- 41.0/209.0 kB ? eta -:--:--
   ----------- ---------------------------- 61.4/209.0 kB 1.1 MB/s eta 0:00:01
   ----------- ---------------------------- 61.4/209.0 kB 1.1 MB/s eta 0:00:01
   ----------------- --------------------- 92.2/209.0 kB 655.4 kB/s eta 0:00:01
   ---------------------- --------------- 122.9/209.0 kB 654.9 kB/s eta 0:00:01
   ----------------------------- -------- 163.8/209.0 kB 653.6 kB/s eta 0:00:01
   -------------------------------------  204.8/209.0 kB 689.9 kB/s eta 0:00:01
   -------------------------------------- 209.0/209.0 kB 669.2 kB/s eta 0:00:00
Downloading typeguard-4.1.5-py3-none-any.whl (34 kB)
Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Downloading multimethod-1.11.1-py3-none-any.whl (10 kB)
Downloading wrapt-1.16.0-cp312-cp312-win_amd64.whl (37 kB)
Installing collected packages: wrapt, typing-inspect, typeguard, multimethod, pandera
Successfully installed multimethod-1.11.1 pandera-0.18.0 typeguard-4.1.5 typing-inspect-0.9.0 wrapt-1.16.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
# list we can use for creating series

s1 : pd.Series = pd.Series([1, 2, 3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
# set value,  we can use for creating series 

s1 : pd.Series = pd.Series({1, 2, 3,4,5}) # st is not accepting here
s1

TypeError: 'set' type is unordered

In [8]:
# Tuple, we can use for creating series

s1 : pd.Series = pd.Series((1, 2, 3,4,5))
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
l1 : list[int] = [1, 2, 3, 4, 5,6, 7, 8, 9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# list we can use for creating series

s1 : pd.Series = pd.Series([1, 2,3,4,5,6,7,8,9,10])
s1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Pandas core components
* series types
* dataframe types

In [11]:
# Dictionary we can use for creating series

s1 : pd.Series = pd.Series({"A":10,
                            "B":20,
                            "C":30,
                            "D":40,
                            "E":50,
                             "F":60,"G":70 } )
s1

A    10
B    20
C    30
D    40
E    50
F    60
G    70
dtype: int64

In [12]:
values : list[int] = [1,2,3,4,5] 
index1 : list[str] = ["A", "B", "C", "D", "E"] 

s1 :pd.Series = pd.Series(values, index= index1)
s1

A    1
B    2
C    3
D    4
E    5
dtype: int64

# MULTI INDEX SERIES

In [16]:
values : list[int] = [1,2,3,4,5] 
index1 : list[list[str]] = [["A1", "A1", "A1", "B1", "B1",] ,
                            ["A", "B", "C", "D", "E"]]
s1 :pd.Series = pd.Series(values, index= index1, name="STUDENT_DATA")
s1

A1  A    1
    B    2
    C    3
B1  D    4
    E    5
Name: STUDENT_DATA, dtype: int64

In [18]:
import numpy as np
values : list[np.int32] = [1,2,3,4,5] 
index1 : list[list[str]] = [["A1", "A1", "A1", "B1", "B1",] ,
                            ["A", "B", "C", "D", "E"]]
s1 :pd.Series = pd.Series(values,
                          index= index1,
                          name="STUDENT_DATA",
                          dtype=np.int32
                            )
s1

A1  A    1
    B    2
    C    3
B1  D    4
    E    5
Name: STUDENT_DATA, dtype: int32

In [20]:
from nptyping import DataFrame, Structure as S

s1 : S["Str"] = pd.Series(["a","b","c"])

InvalidStructureError: 'Str' is not a valid structure expression.

In [21]:
import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

# DataFrame

In [23]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Score")
s3 : pd.Series = pd.Series(["Raghunathji","Raghunathji1","Raghunathji2","Raghunathji3","Raghunathji4"], name="Student Name")

#key
#value: iterable
#length should be same as length of other series

df1 :pd.DataFrame = pd.DataFrame({"Student_id":s1,"Score":s2,"Student_name":s3})
df1

   Student_id  Score  Student_name
0           1     10   Raghunathji
1           2     20  Raghunathji1
2           3     30  Raghunathji2
3           4     40  Raghunathji3
4           5     50  Raghunathji4

In [24]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Score")
s3 : pd.Series = pd.Series(["Raghunathji","Raghunathji1","Raghunathji2","Raghunathji3","Raghunathji4"], name="Student Name")

df1 :pd.DataFrame = pd.DataFrame(s1,s2,s3)
df1

Student Name Raghunathji Raghunathji1 Raghunathji2 Raghunathji3 Raghunathji4
Score
10                   NaN          NaN          NaN          NaN          NaN
20                   NaN          NaN          NaN          NaN          NaN
30                   NaN          NaN          NaN          NaN          NaN
40                   NaN          NaN          NaN          NaN          NaN
50                   NaN          NaN          NaN          NaN          NaN

In [25]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Score")
s3 : pd.Series = pd.Series(["Raghunathji","Raghunathji1","Raghunathji2","Raghunathji3","Raghunathji4"], name="Student Name")

df1 :pd.DataFrame = pd.concat([s1,s2,s3],axis=1)

In [28]:
s1 : pd.Series = pd.Series([1,2,3,4,5], name="Student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="Score")
s3 : pd.Series = pd.Series(["Raghunathji","Raghunathji1","Raghunathji2","Raghunathji3","Raghunathji4"], name="Student Name")

df1 :pd.DataFrame = pd.DataFrame([s1,s2,s3])
df1

,0,1,2,3,4
Student_id,1,2,3,4,5
Score,10,20,30,40,50
Student Name,Raghunathji,Raghunathji1,Raghunathji2,Raghunathji3,Raghunathji4

In [32]:
data : list[list[list]] = [[1,2,3],
                            [4,5,6],
                            [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [34]:
data : list[list[list]] = [[1,2,3],
                            [4,5,6],
                            [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=["A","B","C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [35]:
data : list[list[list]] = [[1,2,3],
                            [4,5,6],
                            [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=["A","B","C"], index=["X","Y","Z"])
df

   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

In [36]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [37]:
df.index

Index(['X', 'Y', 'Z'], dtype='object')

In [38]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [40]:
from nptyping import NDArray, Shape, UInt64
from typing import Any

data : NDArray[Shape["10, 10"], Any] = np.arange(10*10).reshape(10, 10)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [47]:
from nptyping import NDArray, Shape, UInt64
from typing import Any

data : NDArray[Shape["10, 10"], Any] = np.arange(10*10).reshape(10, 10)

df : pd.DataFrame = pd.DataFrame(data, columns=list("ABCDEFGHIJ"))
df

    A   B   C   D   E   F   G   H   I   J
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [49]:
dfl : list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
dfl

[  Operator            Name Example    Try it
 0        +        Addition   x + y  Try it »
 1        -     Subtraction   x - y  Try it »
 2        *  Multiplication   x * y  Try it »
 3        /        Division   x / y  Try it »
 4        %         Modulus   x % y  Try it »
 5       **  Exponentiation  x ** y  Try it »
 6       //  Floor division  x // y  Try it »,
    Operator  Example     Same As    Try it
 0         =    x = 5       x = 5  Try it »
 1        +=   x += 3   x = x + 3  Try it »
 2        -=   x -= 3   x = x - 3  Try it »
 3        *=   x *= 3   x = x * 3  Try it »
 4        /=   x /= 3   x = x / 3  Try it »
 5        %=   x %= 3   x = x % 3  Try it »
 6       //=  x //= 3  x = x // 3  Try it »
 7       **=  x **= 3  x = x ** 3  Try it »
 8        &=   x &= 3   x = x & 3  Try it »
 9        |=   x |= 3   x = x | 3  Try it »
 10       ^=   x ^= 3   x = x ^ 3  Try it »
 11      >>=  x >>= 3  x = x >> 3  Try it »
 12      <<=  x <<= 3  x = x << 3  Try it »,
   Operator                      Name Example    Try it
 0       ==                     Equal  x == y  Try it »
 1       !=                 Not equal  x != y  Try it »
 2        >              Greater than   x > y  Try it »
 3        <                 Less than   x < y  Try it »
 4       >=  Greater than or equal to  x >= y  Try it »
 5       <=     Less than or equal to  x <= y  Try it »,
   Operator                                        Description  \
 0      and           Returns True if both statements are true
 1       or      Returns True if one of the statements is true
 2      not  Reverse the result, returns False if the resul...

                  Example    Try it
 0       x < 5 and x < 10  Try it »
 1         x < 5 or x < 4  Try it »
 2  not(x < 5 and x < 10)  Try it »  ,
   Operator                                        Description     Example  \
 0       is  Returns True if both variables are the same ob...      x is y
 1   is not  Returns True if both variables are not the sam...  x is not y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                                        Description     Example  \
 0       in  Returns True if a sequence with the specified ...      x in y
 1   not in  Returns True if a sequence with the specified ...  x not in y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                  Name  \
 0        &                   AND
 1        |                    OR
 2        ^                   XOR
 3        ~                   NOT
 4       <<  Zero fill left shift
 5       >>    Signed right shift

                                          Description Example    Try it
 0              Sets each bit to 1 if both bits are 1   x & y  Try it »
 1         Sets each bit to 1 if one of two bits is 1   x | y  Try it »
 2    Sets each bit to 1 if only one of two bits is 1   x ^ y  Try it »
 3                               Inverts all the bits      ~x  Try it »
 4  Shift left by pushing zeros in from the right ...  x << 2  Try it »
 5  Shift right by pushing copies of the leftmost ...  x >> 2  Try it »  ,
                                Operator  \
 0                                    ()
 1                                    **
 2                              +x -x ~x
 3                              * / // %
 4                                   + -
 5                                 << >>
 6                                     &
 7                                     ^
 8                                     |
 9   == != > >= < <= is is not in not in
 10                                  not
 11                                  and
 12                                   or

                                           Description    Try it
 0                                         Parentheses  Try it »
 1                                      Exponentiation  Try it »
 2            Unary plus, unary minus, and bitwise NOT  Try it »
 3   Multiplication, division, floor division, and ...  Try it »
 4                            Addition and subtraction  Try it »
 5                       Bitwise left and right shifts  Try it »
 6                                         Bitwise AND  Try it »
 7                                         Bitwise XOR  Try it »
 8                                          Bitwise OR  Try it »
 9     Comparisons, identity, and membership operators  Try it »
 10                                        Logical NOT  Try it »
 11                                                AND  Try it »
 12                                                 OR  Try it »  ]

In [50]:
dfl[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [51]:
df : pd.DataFrame = pd.read_json("https://www.w3schools.com/python/pandas/data.js")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [52]:
import pandas as pd
import pandera as pa

# data to validate
df = pd.DataFrame({
    "column1": [1, 4, 0, 10, 9],
    "column2": [-1.3, -1.4, -2.9, -10.1, -20.4],
    "column3": ["value_1", "value_2", "value_3", "value_2", "value_1"],
})

# define schema
schema = pa.DataFrameSchema({
    "column1": pa.Column(int, checks=pa.Check.le(10)),
    "column2": pa.Column(float, checks=pa.Check.lt(-1.2)),
    "column3": pa.Column(str, checks=[
        pa.Check.str_startswith("value_"),
        # define custom checks as functions that take a series as input and
        # outputs a boolean or boolean Series
        pa.Check(lambda s: s.str.split("_", expand=True).shape[1] == 2)
    ]),
})

validated_df = schema(df)
print(validated_df)

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

In [53]:
pd.read_feather?

Signature:
pd.read_feather(
    path: 'FilePath | ReadBuffer[bytes]',
    columns: 'Sequence[Hashable] | None' = None,
    use_threads: 'bool' = True,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame'
Docstring:
Load a feather-format object from the file path.

Parameters
----------
path : str, path object, or file-like object
    String, path object (implementing ``os.PathLike[str]``), or file-like
    object implementing a binary ``read()`` function. The string could be a URL.
    Valid URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: ``file://localhost/path/to/table.feather``.
columns : sequence, default None
    If not provided, all columns are read.
use_threads : bool, default True
    Whether to parallelize reading using multiple threads.
storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib.request.Request`` as header options. For other
    URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
    forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
    details, and for more examples on storage options refer `here
    <https://pandas.pydata.org/docs/user_guide/io.html?
    highlight=storage_options#reading-writing-remote-files>`_.

dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

Returns
-------
type of object stored in file

Examples
--------
>>> df = pd.read_feather("path/to/file.feather")  # doctest: +SKIP
File:      d:\anaconda\envs\python12\lib\site-packages\pandas\io\feather_format.py
Type:      function

In [54]:
dir(pa.Check)

['__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slotnames__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_check_fn_code',
 'between',
 'eq',
 'equal_to',
 'equal_to',
 'from_builtin_check_name',
 'ge',
 'get_backend',
 'get_builtin_check_fn',
 'greater_than',
 'greater_than',
 'greater_than_or_equal_to',
 'greater_than_or_equal_to',
 'gt',
 'in_range',
 'in_range',
 'isin',
 'isin',
 'le',
 'less_than',
 'less_than',
 'less_than_or_equal_to',
 'less_than_or_equal_to',
 'lt',
 'ne',
 'not_equal_to',
 'not_equal_to',
 'notin',
 'notin',
 'one_sample_ttest',
 'register_backend',
 'register_builtin_check_fn',
 'str_contains',
 'str_contains',
 'str_endswith',
 'str_endswith',
 'str_length',
 'str_length',
 'str_matches',
 'str_matches',
 'str_startswith',
 'str_startswith',
 'two_sample_ttest',
 'unique_values_eq',
 'unique_values_eq']

# Slicing and Indexing

* series_variable[index]
* dataFrame
    * loc
    * iloc
    * at 
    * iat

In [56]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying Sliding")
display(s1[1]) # index

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying Sliding

2

In [57]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying Sliding")
display(s1[1:4]) # index location (number) same as numpy slicing

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying Sliding

1    2
2    3
3    4
dtype: int64

In [59]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"] )
display(s1)
print("Applying Sliding")
display(s1.loc["a":"d" ]) # index location (label) end including

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Sliding

a    1
b    2
c    3
d    4
dtype: int64

In [60]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"] )
display(s1)
print("Applying Sliding")
display(s1.iat[1 ]) # index location (number) extract one cell value and you can update it later

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Sliding

2

In [63]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"] )
display(s1)
print("Applying Sliding")
display(s1.at["d"]) # index location (label) extract one cell value and you can update it later

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying Sliding

4

In [73]:
x :str = """
20:03:10 From Dr. Ghulam Shabbir to Everyone:
	AoA Honorable Sir Qasim Sb. Stay blessed always iA.
20:03:41 From M Qasim to Everyone:
	sir aj payare lag rahy hy
20:04:02 From Dr. Ghulam Shabbir to Everyone:
	Fantastic
20:04:06 From jhon wick to Qasim(CGAIO)(Direct Message):
	sir aj zia khan sir ne nahi ana
20:04:37 From jhon wick to Everyone:
	Reacted to "sir aj payare lag ra..." with 😂
20:04:44 From M Qasim to Everyone:
	Reacted to "sir aj payare lag ra..." with 😂
20:04:54 From M Qasim to Everyone:
	Removed a 😂 reaction from "sir aj payare lag ra..."
20:04:56 From M Qasim to Everyone:
	Reacted to "sir aj payare lag ra..." with 😂
20:04:57 From M Qasim to Everyone:
	Removed a 😂 reaction from "sir aj payare lag ra..."
20:06:04 From Abdullah to Everyone:
	sir ap kal ki class me ni ayen gy kia??
20:06:04 From M Qasim to Everyone:
	Sir Faisalabad b a rahy hy kya ap?
20:06:49 From Yasir to Everyone:
	Sir generative ai ki class online b hogi na?????
20:07:17 From Sheikh Hamza to Everyone:
	Sir data analytics ke liye maths statistics and probability ani chaye??
20:07:24 From Yasir to Everyone:
	Replying to "Sir generative ai ki..."
	
	@Ikhlas Bhojani PLease ask from sir?
20:07:57 From Ikhlas Bhojani to Everyone:
	Replying to "Sir generative ai ki..."
	
	ok wait
20:08:52 From Dr. Ghulam Shabbir to Everyone:
	Sir Qasim Sb. You were frequently discussed and were given honored and salute in our today's class at Islamabad. Dr. Ghulam Shabbir
20:09:12 From STONE to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:15 From Hatif Humayun to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:19 From Dr. Ghulam Shabbir to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:27 From STONE to Everyone:
	Removed a 👍 reaction from "Sir Qasim Sb. You we..."
20:09:33 From STONE to Everyone:
	Reacted to "Sir Qasim Sb. You we..." with 👍
20:09:34 From STONE to Everyone:
	Removed a 👍 reaction from "Sir Qasim Sb. You we..."
20:12:02 From Amanat Wattoo to Everyone:
	Pd kia convention h
20:12:20 From Amanat Wattoo to Everyone:
	Ya koi or be naam de skte hn
20:12:33 From farhan to Everyone:
	Convention hey
20:12:50 From KifayatUllah to Everyone:
	screen is not visible to me, may be network issue or something else
20:14:16 From Rehan Alı WAKKAS to Everyone:
	Import pandas as pd and import pandora as pa.
	What is pd and pa ?
20:14:28 From farhan to Everyone:
	Just names
20:15:06 From Ikhlas Bhojani to Everyone:
	koi question ho tw hand raise kriyea jese i moka milega me unmute krdonga
20:15:41 From Talha to Everyone:
	Replying to "Import pandas as pd ..."
	
	Alias, instead of writing long words pandas and pandora, we can write pd and pa as their short form
20:15:45 From Rehan Alı WAKKAS to Everyone:
	@Ikhlas Bhojani  
	Import pandas as pd and import pandora as pa.
	What is pd and pa ?
20:16:25 From Ikhlas Bhojani to Everyone:
	Replying to "@Ikhlas Bhojani  
	Im..."
	
	alias
20:16:43 From Jazil Hashmi to Everyone:
	Import pandas could not be resolved from source. Why is this error coming? @Ikhlas Bhojani
20:16:55 From Ikhlas Bhojani to Everyone:
	Replying to "@Ikhlas Bhojani  
	Im..."
	
	like nick name
20:17:36 From Ikhlas Bhojani to Everyone:
	!pip install pandas
20:17:46 From Rehan Alı WAKKAS to Everyone:
	Replying to "@Ikhlas Bhojani  
	Im..."
	
	Do they refer to Directories or what ?
20:19:58 From Abdullah to Everyone:
	Pandas is usually imported under the pd alias. alias: In Python alias are an alternate name for referring to the same thing. Create an alias with the as keyword while importing: import pandas as pd. Now the Pandas package can be referred to as pd instead of pandas .
20:20:30 From farhan to Everyone:
	These are nicknames used by community
20:25:02 From ahsan rasheed to Everyone:
	Mary kush lectures rah gy hain
20:25:15 From ahsan rasheed to Everyone:
	Kia ya lecture record ho rhy hain
20:25:23 From ABDUL KHALIQ to Everyone:
	g
20:25:26 From ABDUL KHALIQ to Everyone:
	youtube
20:25:31 From ABDUL KHALIQ to Everyone:
	panaverse dao
20:25:48 From ahsan rasheed to Everyone:
	Thanks
20:26:30 From Kamran Ahmed to Everyone:
	tabular form in panada
20:26:46 From Sarwar Faridi to Everyone:
	TABULAR
20:26:54 From Sarwar Faridi to Everyone:
	2D
20:26:57 From Kamran Ahmed to Everyone:
	index value also shown
20:27:06 From Ahmed Siddiqui to Everyone:
	matrix
20:27:07 From Kamal Hassan to Everyone:
	series men indexing h or tabular form mn h
20:29:56 From Kaleem to Everyone:
	sir series ma duplicate values bhi dy kar daikhain!!
20:35:09 From Zeeshan Abbas to Everyone:
	Sir what is INT64
20:37:19 From Ikhlas Bhojani to Everyone:
	koi question he tw hand raise krke rakhen
20:37:51 From Zeeshan Abbas to Everyone:
	mera question hai what is INT64
20:38:04 From Abdullah to Everyone:
	smj e ni aya 
	repeat krwa dyen
20:39:23 From Altaf Hussain to Everyone:
	Just like Chart of accounts in Accounting...
20:39:44 From Ahmed Siddiqui to Everyone:
	Reacted to "Just like Chart of a..." with 👍
20:40:40 From hi to Everyone:
	what is int 64
20:40:45 From hi to Everyone:
	dtype: int 64
20:40:54 From Zeeshan Abbas to Everyone:
	Sir why is showing INT64 in below
20:40:58 From Ikhlas Bhojani to Everyone:
	Replying to "mera question hai wh..."
	
	type hoti he data ki
20:42:24 From Kaleem to Everyone:
	in our structure data types of data we use key, value /key, pair values to define our data, how to translate that data Series?
20:42:27 From Asif Ali Shaikh to Everyone:
	int 64 is memory
20:42:44 From Asif Ali Shaikh to Everyone:
	Web3
20:45:11 From Zeeshan Abbas to Everyone:
	Reacted to "Web3" with 👍
20:46:15 From Galaxy to Everyone:
	Sir g account udaar dy dy
20:46:25 From Galaxy to Everyone:
	Reacted to Sir g account udaar ... with "😂"
20:46:40 From Ayesha Arshad to Everyone:
	Reacted to "Sir g account udaar ..." with 😂
20:46:40 From Ayesha Arshad to Everyone:
	Removed a 😂 reaction from "Sir g account udaar ..."
20:46:41 From jhon wick to Everyone:
	Reacted to "Sir g account udaar ..." with 😂
20:46:43 From Ayesha Arshad to Everyone:
	Reacted to "Sir g account udaar ..." with 😂
20:46:54 From Taif Ullah to Everyone:
	is bing equal to gpt 4
20:49:29 From fahad rasheed to Everyone:
	2 dimension data hy pora select krna parhyga "" mn
20:49:29 From Azfar Suhail to Everyone:
	from nptyping import DataFrame as DF, Structure as S
	
	s2 : DF[S["Abc : str"]] = pd.Series(['a','b','c','d','e'])
	s2
20:49:29 From Azfar Suhail to Everyone:
	this is working
20:51:57 From Saboor Hussain to Everyone:
	Reacted to "Sir g account udaa..." with 😂
20:51:59 From Saboor Hussain to Everyone:
	Removed a 😂 from "Sir g account udaa..."
20:58:40 From jhon wick to Everyone:
	yes
20:59:04 From farhan to Everyone:
	Kindly unmute
20:59:22 From Ikhlas Bhojani to Everyone:
	Replying to "Kindly unmute"
	
	wait
21:00:43 From PIAIC80919 Muhammad Asad to Everyone:
	Assalamu Aliakum
21:01:33 From Faizan Hassan to Everyone:
	s1.name kar k kar saktay hon ge
21:01:43 From PIAIC80919 Muhammad Asad to Everyone:
	I joined late on zoom meet so kindly share links that sir share until now
21:02:26 From Taif Ullah to Everyone:
	Replying to "I joined late on zoo..."
	
	every thing will be on github
21:04:19 From PIAIC80919 Muhammad Asad to Everyone:
	Numpy aur Pandas kay liya sir nay koi book share ki hai kay nahi
21:04:42 From Amanat Wattoo to Everyone:
	Replying to "Numpy aur Pandas kay..."
	
	no
21:05:21 From PIAIC80919 Muhammad Asad to Everyone:
	aur python kay liya koi alag WhatsApp group hai to please uska b link share kardien
21:06:00 From Amanat Wattoo to Everyone:
	Replying to "aur python kay liya ..."
	
	no koi group nhi bnia h
21:07:17 From Abdullah to Everyone:
	upper array wala code knsa ha??
21:07:51 From Hamza to Everyone:
	"Shape", "Shape"
21:08:10 From Hamza to Everyone:
	"Size", "Size"
21:08:26 From SheikhMAqib to Everyone:
	Double coat
21:08:33 From Azfar Suhail to Everyone:
	Shape turtle se import kara hai
21:08:51 From Azfar Suhail to Everyone:
	shape nptyping se import nhi howa
21:09:34 From Muhammad Uzair to Everyone:
	shape galat import ha
21:09:35 From Khadija Zahid to Everyone:
	shape ko kindly ek br explain kr den dbra
21:09:38 From PIAIC80919 Muhammad Asad to Qasim(CGAIO)(Direct Message):
	Assalamu Aliakum Sir Kindly sir mujhe bta dien k Data Science kay liya Math aur Statistic kay kon si books and courses hum karien
21:09:50 From Yasir to Everyone:
	shape import
21:09:53 From Yasir to Everyone:
	missing
21:09:56 From Muhammad Uzair to Everyone:
	from import typing shape
21:10:11 From Saboor Hussain to Everyone:
	sir
21:10:19 From Saboor Hussain to Everyone:
	aap nptyping se shape ko import karen
21:10:21 From Yasir to Everyone:
	import nhi kia shape
21:10:24 From farhan to Everyone:
	Shape import nahi thi
21:10:25 From Azfar Suhail to Everyone:
	turtle se import kara hai
21:14:10 From sadia to Everyone:
	can we get values 0 1 2 3 4 5 6 7 8 in vertical, abhi data horizontal arha hai
21:18:10 From Faiz M to Everyone:
	Sir chezy hard sy hard hoti ja rahe hy. aaj tho sir k oper oper ja raha hy.
21:18:56 From Qasim(CGAIO) to Everyone:
	https://www.w3schools.com/python/pandas/data.js
21:19:20 From Khadija Zahid to Everyone:
	html wala b ek br code dekha k bta de plz
21:19:22 From Abdullah to Everyone:
	kindly class k bd groups me sessions ka link send kr dia kryen
21:21:27 From Abdullah to Everyone:
	Replying to "kindly class k bd gr..."
	
	@Ikhlas Bhojani
21:22:11 From Ahmed Siddiqui to Everyone:
	what if data size in millions, what kind of preprocessing is required before handing over to pandas?
21:22:41 From Ikhlas Bhojani to Everyone:
	Replying to "kindly class k bd gr..."
	
	me ap logo ke group me nhi hn
21:22:59 From Abdullah to Everyone:
	Replying to "kindly class k bd gr..."
	
	bro sir sy kah dyen 
	ya sir Imran sy request kr dyen
21:24:13 From Ikhlas Bhojani to Everyone:
	Replying to "html wala b ek br co..."
	
	pd.read_html("url")
21:26:02 From Kaleem to Everyone:
	how to make identical data ?
21:26:19 From Afifa Dar to Everyone:
	colmn3 k chexk me ==2 se kya horaha ?
21:29:40 From PIAIC80919 Muhammad Asad to Qasim(CGAIO)(Direct Message):
	sir assignment b day dein practice kay liya
21:32:29 From Ali Zar FSD to Everyone:
	sliding
21:32:41 From Ali Zar FSD to Everyone:
	likha gya sir
21:33:00 From fahad rasheed to Everyone:
	sir thora data large kryn plx
21:33:18 From fahad rasheed to Everyone:
	for slicing thora data bardhae
21:39:55 From raheela to Everyone:
	Name is tort ???
21:40:46 From Naveed Delattre to Everyone:
	it’s toad
21:41:45 From Altaf Hussain to Everyone:
	PIAIC-173738
21:41:51 From Hamza to Everyone:
	PIAIC-201785
21:41:52 From jhon wick to Everyone:
	piaic 223880
21:41:54 From Hina Zargham to Everyone:
	PIAIC101499
21:41:54 From Hatif Humayun to Everyone:
	PIAIC-52822
21:41:54 From Ahmed Siddiqui to Everyone:
	PIAIC123456
21:41:56 From Arif Najmi to Everyone:
	125657
21:42:00 From Rehan Baig - PIAIC73919 to Everyone:
	PIAIC73919
21:42:00 From STONE to Everyone:
	ZAM - 786
21:42:01 From M. Waheed Iqbal (PIAIC_126369) to Everyone:
	PIAIC_126369
21:42:03 From . to Everyone:
	PIAIC210905
21:42:06 From ABDUL KHALIQ to Everyone:
	PIAIC-604031
21:42:11 From Arshad Siddiqui to Everyone:
	PIAIC120702
21:42:13 From Ali Zar FSD to Everyone:
	PIaic 223972
21:42:13 From Azfar Suhail to Everyone:
	PIAIC218333
21:42:14 From Kamran Ahmed to Everyone:
	PIAIC139495
21:42:18 From Ahmed to Everyone:
	216511
21:42:20 From Ayesha Arshad to Everyone:
	PIAIC-225620
(21:42:25) From (Kamal Hassan) to Everyone:
	(PIAIC58320)
21:42:29 From Ahmed to Everyone:
	PIAIC-2165111
21:42:30 From Kaleem to Everyone:
	PIAIC:001100

"""

import re

patterns : str = r'''
(\d{2}:\d{2}:\d{2}) From (.*) to Everyone:
	(PIAIC-? ?\d{5,6})
'''
data : list[list[str]] = re.findall(patterns, x)

data

[('Altaf Hussain', 'PIAIC-173738'),
 ('Hina Zargham', 'PIAIC101499'),
 ('Ahmed Siddiqui', 'PIAIC123456'),
 ('Rehan Baig - PIAIC73919', 'PIAIC73919'),
 ('.', 'PIAIC210905'),
 ('Arshad Siddiqui', 'PIAIC120702'),
 ('Azfar Suhail', 'PIAIC218333'),
 ('Ayesha Arshad', 'PIAIC-225620')]